<%=# video_tag "v1.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
  <div class="app-wrapper">
   <div class="content">
        <h1>On Rails Track! ~ [ORT]</h1>
        <div class="info">
            <a href="#">ha.developent.org@gmail.com</a>
        </div>
   </div>
    <div class="side-content">
        <div class="nav-links">
            <%= link_to 'Blog', controller: 'articles' %>
            <%= link_to 'Task', controller: 'tasks' %>
            <%= link_to 'Works', controller: 'tasks' %>            
            <%= link_to 'Studio', controller: 'tasks' %>            
            <%= link_to 'API', controller: 'tasks' %>                        
            <%= link_to 'Contanct', controller: 'tasks' %>            
        </div>
    </div>
</div>


